<div class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>提示:</h3>
  </div>
  <div class="modal-body">
      <h4><i class="icon-ok"></i> <%=data.title%></h5>
      <div class="bordered"><%=data.message%></div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">关闭</a>
  </div>
</div>