.row {
       margin-left: -30px;
   }
.row:before, .row:after {
       content: "";
       display: table;
       line-height: 0;
   }
.row:after {
       clear: both;
   }
.box {
	 border: 1px solid #D4D4D4;
	 border-radius: 4px 4px 4px 4px;
	 margin-bottom: 20px;
}

.box.red {
	 border: 2px solid red;
}

.box.yellow {
	 border: 2px solid yellow;
}

.box .box-header, .box .box-content{
       border-bottom: 1px solid #D4D4D4;
       border-radius: 4px 4px 0 0;
   }

.box .box-header, .box .box-footer {
       background: -moz-linear-gradient(center top , #FFFFFF 0%, #DEDEDE 100%) repeat scroll 0 0 transparent;
       padding: 4px 4px 4px 10px;
}

.box .box-header:after, .box .box-footer:after, .box .box-content:after {
       clear: both;
       content: "";
       display: table;
   }


 .box-content > .table {
      color:#000000;
      font-size: 13px;
	  margin-bottom: 13px;
	  background-color: rgba(0, 0, 0, 0);
      border-collapse: collapse;
      border-spacing: 0;
      max-width: 100%;
  }
  
.no-borders {
      border: none;
  }