#parse( "./include/variable.vm" )
<form id="promotionAdd" action="" method="post">
##    owner
    <div class="turnToAdd">
        <label>id</label><input type="text" placeholder="id" name="id" class="form-control">
        <br>
        <label>enough</label><input type="text" name="enough" placeholder="enough" class="form-control">
        <br>
        <label>discount</label><input type="text" name="discount" placeholder="discount" class="form-control">
        <br>
        <label>type</label>
        <select class="form-control" id="type">
            <option>0未付款</option>
            <option selected >1已付款</option>
        </select>
        <br>
        <label>store_id</label><input type="text" name="store_id" placeholder="store_id" class="form-control">
        <br>
        <label>start_time</label><input type="text" name="start_time" placeholder="start_time" class="form-control">
        <br>
        <label>end_time</label><input type="text" name="end_time" placeholder="end_time" class="form-control">
        <br>
        <label>pay_type</label>
        <select class="form-control" id="pay_type">
            <option>0储值卡</option>
            <option>1现金</option>
            <option>2支付宝</option>
            <option>3微信</option>
            <option>4团购优惠支付</option>
        </select>
        <br>
        <label>valid</label><input type="text" name="valid" placeholder="valid" class="form-control">
        <br>
    </div>
    <button type="button" id="promotionSubmitBtn"  name="submit" class="btn btn-default">提交</button>
</form>
<script>
    $(function(){
        $("input[name='start_time']").datepicker();
        $("input[name='end_time']").datepicker();
        $("#promotionSubmitBtn").click(function(){
//            验证
            var id = $("input[name='id']").val();
            var enough = $("input[name='enough']").val();
            var discount = $("input[name='discount']").val();
            var type = $("#type option:selected").val();
            var store_id = $("input[name='store_id']").val();
            var start_time = $("input[name='start_time']").val();
            var end_time = $("input[name='end_time']").val();
            var pay_type = $("#pay_type option:selected").val();
            var valid = $("input[name='valid']").val();
            console.log(id);
            console.log(enough);
            console.log(discount);
            console.log(type);
            console.log(store_id);
            console.log(start_time);
            console.log(end_time);
            console.log(pay_type);
            console.log(valid);

            $("#promotionAdd").submit(function(){
//提交后的函数
            });
        })



    })
</script>