#parse( "./include/variable.vm" )
<div class="nav-top">
    <div class="">
        <div class="nav-content">
            <form>
            ##    owner
                <div class="turnToAdd">
                    <h1>用户信息设置</h1>
                    <label>所属人姓名</label><input type="text" placeholder="name" class="form-control">
                    <br>
                    <label>手机号</label><input type="text" placeholder="mobilephone" class="form-control">
                    <br>
                    <label>身份证号</label><input type="text" placeholder="identity" class="form-control">
                    <br>
                    <label>邮箱</label><input type="text" placeholder="email" class="form-control">
                    <br>
                    <hr>
                    <h1>登录信息设置</h1>
                    <label>管理系统登录用户名</label><input type="text" placeholder="login_name" class="form-control">
                    <br>
                    <label>管理系统登录密码</label><input type="text" placeholder="login_password" class="form-control">
                    <br>
                    <hr>
                ##    store
                    <h1>店铺信息设置</h1>
                    <label>店铺名称</label><input type="text" placeholder="store_name" class="form-control">
                    <br>
                    <label>店铺地址</label><input type="text" placeholder="address" class="form-control">
                    <br>
                    <label>联系电话</label><input type="text" placeholder="phone" class="form-control">
                    <br>
                    <div style="margin-left: 130px;margin-top: 20px;">
                        <button type="button" id="" class="btn btn-sm">提交</button>
                    </div>
            </form>
        </div>
    </div>
</div>