#parse( "./include/variable.vm" )
<form>
##    owner
    <div class="turnToAdd">
    <label>所属人姓名</label><input type="text" placeholder="name" class="form-control">
    <br>
    <label>手机号</label><input type="text" placeholder="mobilephone" class="form-control">
    <br>
    <label>身份证号</label><input type="text" placeholder="identity" class="form-control">
    <br>
    <label>邮箱</label><input type="text" placeholder="email" class="form-control">
    <br>
        <label>管理系统登录用户名</label><input type="text" placeholder="login_name" class="form-control">
        <br>
        <label>管理系统登录密码</label><input type="text" placeholder="login_password" class="form-control">
        <br>
##    store
    <label>店铺名称</label><input type="text" placeholder="store_name" class="form-control">
    <br>
    <label>店铺地址</label><input type="text" placeholder="address" class="form-control">
    <br>
    <label>联系电话</label><input type="text" placeholder="phone" class="form-control">
    <br>
    <button type="button" id="" class="btn btn-circle">提交</button>
</form>