#################还要增加内容
##添加储值卡
##1.用户点击检测卡片
##2.从高个提供的 http 接口读取卡编号,并显示在界面,且不能修改
##3.填写充值金额和实际支付金额,以及用户信息
##4.ajax 提交创建请求,接受到返回的 cardUuid 发送给高个提供的卡片写接口
#parse( "./include/variable.vm" )
<div class="nav-top">
    <div class="">
        <div class="nav-content">
            <form id="valueCardAdd" method="get" action="">
                <div class="turnToAdd">
                    <label>id</label><input type="text" placeholder="id" name="id" id="id" class="form-control" required>
                    <br>
                    <label>card_id</label><input type="text" placeholder="card_id" name="cardId" id="cardId" class="form-control" required>
                    <br>
                    <label>card_uuid</label><input type="text" placeholder="card_uuid" name="cardUuid" id="cardUuid" class="form-control" required>
                    <br>
                    <label>balance</label><input type="text" placeholder="balance" name="balance" id="balance" class="form-control" required>
                    <br>
                    <label>vip_id</label><input type="text" placeholder="vip_id" id="vipId" name="vipId" class="form-control" required>
                    <br>
                    <label>创建时间:</label><input type="text" name="create_time" id="createTime" placeholder="yyyy-MM-dd HH:mm:ss" readonly class="form-control">
                    <br>
                    <label>设置密码:</label><input type="text" placeholder="password" id="password" name="password" class="form-control" required>
                    <br>
                    <div style="margin-left: 130px;margin-top: 20px;">
                        <input class="submit btn btn-sm" type="submit" value="提交">
##                        <button type="button" id="valueCardSubmitBtn" class="btn btn-sm">提交</button>
                    </div>
            </form>
        </div>
    </div>
</div>
<script>
##
function currentTime(){
    var d = new Date(),str = '';
    str += d.getFullYear()+'-';
    str += d.getMonth() + 1+'-';
    str += d.getDate();
    str += "   ";
    str += d.getHours()+':';
    str += d.getMinutes()+':';
    str += d.getSeconds()+'';
    return str

}
//function abc(){
////    $("#valueCardAdd").validate();
//
//}
//setInterval(function(){});
$(function () {
    $("#valueCardAdd").validate({
        rules: {
            id: {
                required: true,
                digits:true
            },
//            lastname: "required",
//            username: {
//                required: true,
//                minlength: 2
//            },
//            password: {
//                required: true,
//                minlength: 5
//            },
//            confirm_password: {
//                required: true,
//                minlength: 5,
//                equalTo: "#password"
//            },
//            email: {
//                required: true,
//                email: true
//            },
//            topic: {
//                required: "#newsletter:checked",
//                minlength: 2
//            },
//            agree: "required"
        },
        messages: {
            id: {
                required: "请输入ID号",
                digits: "请输入整数"
            },
//            lastname: "Please enter your lastname",
//            username: {
//                required: "Please enter a username",
//                minlength: "Your username must consist of at least 2 characters"
//            },
//            password: {
//                required: "Please provide a password",
//                minlength: "Your password must be at least 5 characters long"
//            },
//            confirm_password: {
//                required: "Please provide a password",
//                minlength: "Your password must be at least 5 characters long",
//                equalTo: "Please enter the same password as above"
//            },
//            email: "Please enter a valid email address",
//            agree: "Please accept our policy",
//            topic: "Please select at least 2 topics"
        }
    });

    $("input[name='create_time']").val(currentTime);
    $("#valueCardSubmitBtn").click(function () {
//            验证


        $("#valueCardAdd").submit(function () {
//提交后的函数
        });
    })


})
</script>