#################还要增加内容
##添加储值卡
##1.用户点击检测卡片
##2.从高个提供的 http 接口读取卡编号,并显示在界面,且不能修改
##3.填写充值金额和实际支付金额,以及用户信息
##4.ajax 提交创建请求,接受到返回的 cardUuid 发送给高个提供的卡片写接口
#parse( "./include/variable.vm" )
<div class="nav-top">
    <div class="">
        <div class="nav-content">
            <form id="valueCardAdd" method="get" action="">
                <div class="turnToAdd">
                    <label>id</label><input type="text" placeholder="id" name="id" id="id" class="form-control" readonly>
                    <br>
                    <label>card_id</label><input type="text" placeholder="card_id" name="cardId" id="cardId" class="form-control" readonly>
                    <br>
                    <label>card_uuid</label><input type="text" placeholder="card_uuid" name="cardUuid" id="cardUuid" class="form-control" readonly>
                    <br>
                    <label>balance</label><input type="text" placeholder="balance" name="balance" id="balance" class="form-control" required>
                    <br>
                    <label>vip_id</label><input type="text" placeholder="vip_id" id="vipId" name="vipId" class="form-control" readonly>
                    <br>
                    <label>创建时间:</label><input type="text" name="create_time" id="createTime" placeholder="yyyy-MM-dd HH:mm:ss" readonly class="form-control">
                    <br>
                    <label>设置密码:</label><input type="password" placeholder="password" id="password" name="password" class="form-control" required>
                    <br>
                    <label>再次确认密码:</label><input type="password" placeholder="confirm_password" id="confirm_password" name="confirm_password" class="form-control" required>
                    <br>
                    <div style="margin-left: 130px;margin-top: 20px;">
                        <input class="submit btn btn-sm" type="submit" value="提交">
                    </div>
            </form>
        </div>
    </div>
</div>
<script>
##
function currentTime(){
    var d = new Date(),str = '';
    str += d.getFullYear()+'-';
    str += d.getMonth() + 1+'-';
    str += d.getDate();
    str += "   ";
    str += d.getHours()+':';
    str += d.getMinutes()+':';
    str += d.getSeconds()+'';
    return str

}
$(function () {
    // 匹配密码，以字母开头，长度在6-12之间，只能包含字符、数字和下划线。
    $.validator.addMethod("isPwd", function(value, element) {
        return this.optional(element) || /^[a-zA-Z]\\w{6,12}$/.test(value);
    });
    $("#valueCardAdd").validate({
        rules: {
            balance: {
                required: true,
                digits:true
            },
            password: {
                required: true,
                isPwd: true
            },
            confirm_password: {
                required: true,
                equalTo: "#password"
            },
        },
        messages: {
            balance: {
                required: "请输入余额",
                minlength: "请输入整数,例如:100"

            },
            password: {
                required: "请输入密码",
                isPwd: "以字母开头，长度在6-12之间，只能包含字符、数字和下划线。",

            },
            confirm_password: {
                required: "请输入密码",
                equalTo: "密码输入不一致"
            },
        }
    });
    $("input[name='create_time']").val(currentTime);


})
</script>