#parse( "./include/variable.vm" )
<div class="nav-top">
    <div class="">
        <div class="nav-content">
            <form id="topUp"  method="post">
            ##    owner
                <div class="turnToAdd">
                    <label>卡号</label><input type="text" name="cardId" id="cardId" value="${card.cardId}" class="form-control" readonly>
                    <br>
                    <label>充值金额</label><input type="text" name="account" id="account" class="form-control">
                    <br>
                    <label>实收金额</label><input type="text" name="price" placeholder="price" id="price" class="form-control">
                    <br>
                </div>
                <div style="margin-left: 130px;margin-top: 20px;">
                ##                    <button type="button" id="promotionSubmitBtn" name="submit" class="btn btn-default" onclick="submitForm()">提交</button>
                    <button type="button" id="topUpButton" name="topUpButton" onclick="sumbitForm()" class="btn btn-sm">提交</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="add" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">
                    <i class="icon-pencil"></i>
                    <span id="lblAddTitle" style="font-weight:bold">添加信息</span>
                </h4>
            </div>
            <form class="form-horizontal form-bordered form-row-strippe" id="ffAdd" data-toggle="validator" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="row">
                        <div id="myPrintArea">
                            <div class="content">
                                充值成功!
                                <label>卡号:</label><span><div id="cardId"></div></span><br>
                                <label>余额:</label><span><div id="balance"></div></span><br>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer bg-info">
                    <input type="hidden" id="ID" name="ID" />
                    <button type="button" class="btn blue" data-dismiss="modal" onclick="print()">打印</button>
                    <button type="button" class="btn green" data-dismiss="modal">取消</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="myPrintArea" hidden="hidden">
    <div class="content">
        <label>卡号:</label><span><div id="cardId"></div></span><br>
        <label>余额:</label><span><div id="balance"></div></span><br>
        <label>消费时间</label><span><div id="createTime"></div></span><br>
    </div>
</div>
<script>
    function sumbitForm(){
        $.ajax({
            url: '$ctx/valuecard/topUp',
            type: 'post',
            data: $("#topUp").serialize(),
            async: false,
            dataType: 'json',
            success: function (data) {
                if(data['success'] == "success"){
                    $('#balance').html(data['card']['balance']);
                    $('#cardId').html(data['card']['cardId']);
                    $('#add').modal({ show: true, backdrop: 'static' });
                }else{
                    showError("充值失败,请重试")
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                result = XMLHttpRequest.responseText;
            }
        });
        $.unionTab.removeTab();
    }

    function print(){
        $("div#myPrintArea").printArea();
    }

    function initValidate(){
        //TODO:cj,添加字段验证
        return true;
    }
    //    $(function(){
    //        $("input[name='start_time']").datepicker();
    //        $("input[name='end_time']").datepicker();
    //        $("#promotionSubmitBtn").click(function(){
    ////            验证
    //            var id = $("input[name='id']").val();
    //            var enough = $("input[name='enough']").val();
    //            var discount = $("input[name='discount']").val();
    //            var type = $("#type option:selected").val();
    //            var store_id = $("input[name='store_id']").val();
    //            var start_time = $("input[name='start_time']").val();
    //            var end_time = $("input[name='end_time']").val();
    //            var pay_type = $("#pay_type option:selected").val();
    //            var valid = $("input[name='valid']").val();
    //            console.log(id);
    //            console.log(enough);
    //            console.log(discount);
    //            console.log(type);
    //            console.log(store_id);
    //            console.log(start_time);
    //            console.log(end_time);
    //            console.log(pay_type);
    //            console.log(valid);
    //
    //            $("#promotionAdd").submit(function(){
    ////提交后的函数
    //            });
    //        })
    //
    //
    //
    //    })
</script>