#parse( "./include/variable.vm" )

<div class="nav-top">
    <div class="">
        <div class="nav-content">
            <form id="search_form" method="post">
                <table cellpadding="0" cellspacing="0" class="searchinfotable">
                    <tr>
                        <td class="text-right" width="150">订单号：</td>
                        <td width="200"><input id="id" name="id" type="text" class="form-control"></td>
                        <td class="text-right" width="150">储值卡编号：</td>
                        <td width="200"><input id="cardId" name="cardId" type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td class="text-right" width="150">支付方式：</td>
                        <td width="200">
                            <select id="payType" name="payType" class="form-control">
                                <option value="-1" selected="selected">全部</option>
                                #foreach($param in ${payTypeList.keySet()})
                                    <option value="$param">${payTypeList.get($param)}</option>
                                #end
                            </select>
                        </td>
                        <td class="text-right" width="150">店铺ID：</td>
                        <td width="200">
                            <select id="storeId" name="storeId" class="form-control">
                                <option value="-1" selected="selected">全部</option>
                                #foreach($param in ${storeList.keySet()})
                                    <option value="$param">${storeList.get($param)}</option>
                                #end
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-right" width="150">开始时间：</td>
                        <td width="200">
                            <input class="form-control" size="16" type="text" onFocus="WdatePicker({startDate: '%y-%M-%d 10:00:00',dateFmt:'yyyy-MM-dd HH:mm:ss',maxDate:'#F{$dp.$D(\'endTime\')}'})" id="startTime" name="startTime" readonly>
                        </td>
                        <td class="text-right" width="150">结束时间：</td>
                        <td width="200">
                            <input class="form-control" size="16" type="text" onFocus="WdatePicker({startDate: '%y-%M-%d 09:59:59',dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'#F{$dp.$D(\'startTime\')}'})" id="endTime" name="endTime" readonly>
                        </td>
                    </tr>
                    <tr>
                        <td width="150"></td>
                        <td class="searchtd">
                            <button type="button" id="search_btn" class="btn btn-sm"><i
                                    class="glyphicon glyphicon-search"></i>搜索
                            </button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
<div class="table-jqgrid">
    <!--这里放jqgrid-->
    <table id="list" style="width: 95%;" form="search_form"></table>
    <div id="pager"></div>
</div>

<script>
    $(function () {

        setTimeout(function () {
            var topWin = window.top.document;
            var bodyclass = $(topWin).find("body").attr("class");
            //if(bodyclass){
            $('body').attr("class", bodyclass);
            //}
        }, 0);
        fixBtns();
        $("#list")
                .jqGrid(
                        {
                            url: '$ctx/order/getAllOrders',
                            datatype: "local",
                            colNames: ["id", "店铺ID", "支付方式", "储值卡编号", "订单原价", "实际支付金额",
                                "酒水价格", "菜品金额","其他金额","就餐人数", "创建时间", "是否排队"],
                            colModel: [
                                {
                                    name: 'order.id',
                                    index: 'order.id',
                                    align: "center",
                                    width: "45px",
                                    key: true
                                },
                                {
                                    name: 'storeName',
                                    index: 'storeName',
                                    align: "center",
                                    width: "45px",
                                },
                                {
                                    name: 'order.payType',
                                    index: 'order.payType',
                                    align: "center",
                                    width: "140px",
                                    minWidth: "90px",
                                    formatter: "select",
                                    editoptions: {
                                        value: "0:储值卡;1:现金;2:支付宝;3:微信;4:团购优惠支付"
                                    }
                                },
                                {
                                    name: 'order.cardId',
                                    index: 'order.cardId',
                                    align: "center",
                                    width: "100px",
                                    minWidth: "80px",
                                },
                                {
                                    name: 'order.paperPrice',
                                    index: 'order.paperPrice',
                                    align: "center",
                                    width: "45px",
                                },
                                {
                                    name: 'order.actualPrice',
                                    index: 'order.actualPrice',
                                    align: "center",
                                    width: "90px",
                                },
                                {
                                    name: 'order.drinkPrice',
                                    index: 'order.drinkPrice',
                                    align: "center",
                                    width: "70px"
                                },
                                {
                                    name: 'order.foodPrice',
                                    index: 'order.foodPrice',
                                    align: "center",
                                    width: "50px",
                                },
                                {
                                    name: 'order.otherPrice',
                                    index: 'order.otherPrice',
                                    align: "center",
                                    width: "50px",
                                },
                                {
                                    name: 'order.countOfPeople',
                                    index: 'order.countOfPeople',
                                    align: "center",
                                    width: "50px",
                                },
                                {
                                    name: 'order.createTime',
                                    index: 'order.createTime',
                                    align: "center",
                                    width: "50px",
                                },
                                {
                                    name: 'order.queueUp',
                                    index: 'order.queueUp',
                                    align: "center",
                                    width: "60px",
                                    formatter: "select",
                                    editoptions: {
                                        value: "0:否;1:是"
                                    }
                                },
                            ],
                            rowNum: 15,
                            rowList: [15, 30, 50],
                            pager: '#pager',
                            height: 'auto',
                            multiselect: true,
                            viewrecords: true,
//                            rownumbers: true,
                    sortorder: "desc",
                    mtype: "POST",
                    deleteKeys: ["id"],
                    width: "85%",
                    shrinkToFit: true,
                    autowidth: true,
//			caption : "政策列表",
                    editurl: "add",
                });

        $("#list").jqGrid('navGrid', '#pager', {
            edit: false,
            add: false,
            del: false
        });
        $("#list").jqGrid('setGridParam', {
            datatype: 'json'
        });

        $("input:checkbox").click(function () {
            var checked = $(this).attr("checked");
            if (checked || checked == "checked") {
                $(this).attr("checked", false);
            } else
                $(this).attr("checked", true);
        });

        $("#search_btn").click(function () {
            $('#list').query('search_form');
        });

        $("#search_btn").click();

        $("#time_select a").click(function () {
            var value = $(this).attr("value");
            switch (parseInt(value)) {
                case 1:
                    var day = getDateStr(0, '/');
                    $("#startTime").val(day);
                    break;
                case 2:
                    var day = getDateStr(1, '/');
                    $("#startTime").val(day);
                    break;
                case 3:
                    var day = getDateStr(2, '/');
                    $("#startTime").val(day);
                    break;
                case 4:
                    var startDay = getDateStr(1, '/');
                    var endDay = getDateStr(7, '/');
                    $("#startTime").val(startDay);
                    $("#endTime").val(endDay);
                    break;
                case 5:
                    $("#startTime").val("");
                    $("#endTime").val("");
                    break;
            }
        });

        $("#showOverdue").click(function () {
            $("#search_btn").click();
        });
    });
    //开始时间不能小于当前时间
    function startTimeIsBigThanTotay(startTime){
        var startdate = new Date((startTime).replace(/-/g,"/"));
        var date = new Date();
        if(startdate < date)
        {
            return false;
        }
        else
        {
            return true;
        }
    }

    //结束时间不能小于当前时间
    function endThanTotay(endTime){
        var enddate = new Date((endTime).replace(/-/g,"/"));
        var nowdate = new Date();
        if(enddate < nowdate)
        {
            return false;
        }
        else
        {
            return true;
        }
    }


    //结束时间不能小于开始时间
    function endThanStart(startTime,endTime){
        var startdate = new Date((startTime).replace(/-/g,"/"));
        var enddate = new Date((endTime).replace(/-/g,"/"));
        if(enddate < startdate)
        {
            return false;
        }
        else
        {
            return true;
        }
    }



    function isRuleEffect(startTime){
        var year = startTime.split(" ")[0].split("-")[0];
        var month = startTime.split(" ")[0].split("-")[1];
        var day = startTime.split(" ")[0].split("-")[2];

        var hour = startTime.split(" ")[1].split(":")[0];
        var minu = startTime.split(" ")[1].split(":")[1];
        var sec = startTime.split(" ")[1].split(":")[2];

        return new Date(year, month - 1, day, hour, minu, sec) < new Date();
    }

    function checkAll(id, obj) {
        var itemlist = $("#" + id + " :checkbox");
        if (obj.checked) {
            for (var i = 0; i < itemlist.length; i++) {
                itemlist[i].checked = true;
            }
        } else {
            for (var i = 0; i < itemlist.length; i++) {
                itemlist[i].checked = false;
            }
        }
    }

    function fixBtns(){
        $(window).scroll(function(){
            var btncol = $('.btncol');
            var topvalue = $('.table-jqgrid').offset().top;

            var nowtop = $(window).scrollTop();

            if(nowtop>topvalue && !btncol.hasClass('fixedbtn')){
                btncol.addClass('fixedbtn');
            }
            if(nowtop<topvalue && btncol.hasClass('fixedbtn')){
                btncol.removeClass('fixedbtn');
            }
        });
    }

    function buildResults(str,optionsArr){
        var strArr = str.split(',');
        var result = "";
        for(var i = 0;i<strArr.length;i++){
            result+=optionsArr[strArr[i]]+"\n";
        }
        return result.substring(0,result.length-1);
    }

    $(window).bind('resize', function() {
        $("#list").setGridWidth($(window).width()-10);
    }).trigger('resize');

</script>

</body>
</html>
