#parse( "./include/variable.vm" )
<div class="nav-top">
    <div class="">
        <div class="nav-content">
            <form id="vipAdd" >
            ##    owner
                <div class="turnToAdd">
                    <h1>用户信息设置</h1>
                    <label>name</label><input type="text" placeholder="name" name="storeName" id="storeName" class="form-control">
                    <br>
                    <label>store_id</label><input type="text" placeholder="store_id" name="storeId" id="storeId" class="form-control">
                    <br>
                    <label>手机号</label><input type="text" placeholder="mobilephone" name="mobilephone" id="mobilephone" class="form-control">
                    <br>
                    <label>微信</label><input type="text" placeholder="wechat" name="wechat" id="wechat" class="form-control">
                    <br>
                    <label>邮箱</label><input type="text" placeholder="email" name="email" id="email" class="form-control">
                    <br>
                    <label>创建时间</label><input type="text" placeholder="create_time" name="creatTime" id="creatTime" class="form-control">
                    <br>
                    <div style="margin-left: 130px;margin-top: 20px;">
                        <button type="button" id="vipSubmitBtn" class="btn btn-circle btn-sm">提交</button>
                    </div>
            </form>
        </div>
    </div>
</div>
<script>
    ##
    function currentTime(){
        var d = new Date(),str = '';
        str += d.getFullYear()+'-';
        str += d.getMonth() + 1+'-';
        str += d.getDate();
        str += "   ";
        str += d.getHours()+':';
        str += d.getMinutes()+':';
        str += d.getSeconds()+'';
        return str;

    }
    //setInterval(function(){});
    $(function(){
        $("input[name='create_time']").val(currentTime);


//        $("input[name='create_time']").datetimepicker({
//            format: "dd MM yyyy - hh:ii",
//            autoclose: true,
//            pickerPosition: "bottom-left"
//        });
        $("#valueCardSubmitBtn").click(function(){
//            验证

            $("#valueCardAdd").submit(function(){
//提交后的函数
            });
        })



    })
</script>