<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>

	<typeAliases>
		<package name="com.hotpot.domain" />
	</typeAliases>
	
	<!--<plugins>-->
	    <!--&lt;!&ndash; packageName为PageHelper类所在包名 &ndash;&gt;-->
	    <!--<plugin interceptor="com.dmall.pricing.commons.utils.pagination.PageHelper">-->
	        <!--<property name="dialect" value="mysql"/>-->
	    <!--</plugin>-->
	<!--</plugins>-->
</configuration>
