<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">


    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/css.css">
</head>
<body>
<div class="nav-top">
    <div class="">
        <div class="nav-content">
            <form id="search_form" method="post">
                <table cellpadding="0" cellspacing="0" class="searchinfotable">
                    <tr>
                        <td class="text-right" width="150">订单号：</td>
                        <td width="200"><input type="text" class="form-control"></td>
                        <td class="text-right" width="150">会员ID：</td>
                        <td width="200"><input type="text" class="form-control"></td>
                        <td class="text-right" width="150">支付方式：</td>
                        <td width="200">
                            <select name="site" class="form-control">
                                <option value="" selected="selected">支付宝</option>
                                <option value="">支付宝</option>
                                <option value="">银联</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-right" width="150">店铺ID：</td>
                        <td width="200">
                            <select name="site" class="form-control">
                                <option value="" selected="selected">一号店</option>
                                <option value="">二号店</option>
                                <option value="">三号店</option>
                            </select>
                        </td>
                        <td class="text-right" width="150">储值卡编号：</td>
                        <td width="200"><input type="text" class="form-control"></td>


                    </tr>
                    <tr>
                        <td class="text-right" width="150">开始时间：</td>
                        <td width="200">
                            <input type="text" class="form-control" placeholder="yyyy-MM-dd HH:mm:ss" name="startTime" id="startTime" before="endTime" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',maxDate:'#F{$dp.$D(\'endTime\')}'})" style="width: 160px;" />
                        </td>
                        <td class="text-right" width="150">结束时间：</td>
                        <td width="200">
                            <input type="text" class="form-control" placeholder="yyyy-MM-dd HH:mm:ss" id="endTime" name="endTime" after="startTime"  onFocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'#F{$dp.$D(\'startTime\')}'})" style="width: 160px;"/>
                        </td>
                        <td class="text-right" width="150">是否已经结账：</td>
                        <td width="200">
                            <input type="radio" value="0" checked><label>是</label>
                            <input type="radio" value="1"><label>否</label>

                        </td>
                    </tr>
                    <tr>
                        <td width="150"></td>
                        <td class="searchtd">
                            <button type="button" id="search_btn" class="btn btn-search"><i class="icon-search align-top bigger-125"></i>搜索</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
<div class="table-jqgrid">
    <!--这里放jqgrid-->
    <table id="list" style="width: 95%;" form="search_form"></table>
    <div id="pager"></div>
</div>

<script>
    $(function() {
        setTimeout(function(){
            var topWin = window.top.document;
            var bodyclass = $(topWin).find("body").attr("class");
            //if(bodyclass){
            $('body').attr("class",bodyclass);
            //}
        },0);
        fixBtns();
        $("#list")
                .jqGrid(
                        {
                            url : '$ctx/order/query',
                            datatype : "local",
                            colNames : [ "ID","操作", "分站", "名称", "平台", "频道",/*  "纬度", */ "范围",
                                "单个限购",/*  "累计限购", */ "现金券", "红包", "货到付款", "免邮费",
                                "开始时间", "结束时间", "创建人", "状态", "作用环境", "最后发布"],
                            colModel : [
                                {
                                    name : 'draftId',
                                    index : 'draftId',
                                    align : "center",
                                    width : "45px",
                                    key : true
                                }, {
                                    name : 'operateMainSite',
                                    index : 'operateMainSite',
                                    align : "center",
                                    width : "50px",
                                    minWidth : "45px",
                                    formatter : function(cellval, opts,
                                                         rowObject, action) {
                                        var x = (rowObject['status'] == 3) ?
                                        '<a href="javascript:modifyDraftPolicy('
                                        + rowObject['draftId']
                                        + ')" authRole="promotion_admin promotion_operate" class="row_btn">修改</a><br><a href="javascript:policyInfo('
                                        + rowObject['id']+','+rowObject['draftId']
                                        + ')" class="row_btn">查看</a>'
                                                :
                                        '<a href="javascript:modifyDraftPolicy('
                                        + rowObject['draftId']
                                        + ')" authRole="promotion_admin promotion_operate" class="row_btn">修改</a><br><a href="javascript:policyInfo('
                                        + rowObject['id']+','+rowObject['draftId']
                                        + ')" class="row_btn">查看</a><br><a href="$ctx/policy/overdue?id='
                                        + rowObject['id']
                                        +'" authRole="promotion_admin promotion_operate" class="row_btn" >过期政策</a>'
                                        return x;
                                    }
                                },
                                {
                                    name : 'site',
                                    index : 'site',
                                    align : "center",
                                    width : "45px",
                                    formatter : "select",
                                    editoptions : {
                                        value : "all:全部;bj:北京;sh:上海;cd:成都;gz:广州"
                                    }
                                },
                                {
                                    name : 'policyName',
                                    index : 'policyName',
                                    align : "center",
                                    width : "140px",
                                    minWidth : "90px",
                                    formatter : cellbreaker
                                },
                                {
                                    name : 'platform',
                                    index : 'platform',
                                    align : "center",
                                    width : "100px",
                                    minWidth : "80px",
                                    formatter : function(cellval, opts,
                                                         rowObject, action){
                                        if(rowObject['platform'].split(',').length == 3){
                                            return "全部";
                                        }else{
                                            return buildResults(rowObject['platform'],{"www":"网站","app":"客户端","wap":"手机"});
                                        }
                                    }
                                },
                                {
                                    name : 'booth',
                                    index : 'booth',
                                    align : "center",
                                    width : "45px",
                                    formatter : function(cellval, opts,
                                                         rowObject, action){
                                        if(rowObject['booth'].split(',').length == 5){
                                            return "全部";
                                        }else{
                                            return buildResults(rowObject['booth'],{"deal":"特卖","media":"POP","jumeiglobal":"海外购","mall":"商城","globalmall":"海淘商城"});
                                        }
                                    }
                                },
                                /* {
                                 name : 'limitedCondition',
                                 index : 'limitedCondition',
                                 align : "center",
                                 width : "45px",
                                 formatter : function(cellval, opts,
                                 rowObject, action){
                                 if(rowObject['limitedCondition'] != null){
                                 if(rowObject['limitedCondition'].split(',').length == 3){
                                 return "全部";
                                 }else{
                                 return buildResults(rowObject['limitedCondition'],{"1":"uid","0":"身份证号","2":"手机号"});
                                 }
                                 }else{
                                 return "";
                                 }
                                 }
                                 }, */
                                {
                                    name : 'indexType',
                                    index : 'indexType',
                                    align : "center",
                                    width : "90px",
                                    formatter : "select",
                                    editoptions : {
                                        value : "show_category:展示类型;product_id:产品ID;brand_id:品牌ID;hash_id:hash_id;category_id:分类ID"
                                    }

                                },
                                {
                                    name : 'limitInSingleOrder',
                                    index : 'limitInSingleOrder',
                                    align : "center",
                                    width : "70px"
                                }/* ,
                                 {
                                 name : 'maxmumLimit',
                                 index : 'maxmumLimit',
                                 align : "center",
                                 width : "120px"
                                 } */,
                                {
                                    name : 'noVoucher',
                                    index : 'noVoucher',
                                    align : "center",
                                    width : "50px",
                                    formatter : "select",
                                    editoptions : {
                                        value : "0:不禁用;1:禁用"
                                    }
                                },
                                {
                                    name : 'noRedEnvelope',
                                    index : 'noRedEnvelope',
                                    align : "center",
                                    width : "50px",
                                    formatter : "select",
                                    editoptions : {
                                        value : "0:不禁用;1:禁用"
                                    }
                                },
                                {
                                    name : 'noCod',
                                    index : 'noCod',
                                    align : "center",
                                    width : "60px",
                                    formatter : "select",
                                    editoptions : {
                                        value : "0:不禁用;1:禁用"
                                    }
                                },
                                {
                                    name : 'freeShipping',
                                    index : "freeShipping",
                                    align : "center",
                                    width : "50px",
                                    formatter : "select",
                                    editoptions : {
                                        value : "0:不支持;1:支持"
                                    }
                                },
                                {
                                    name : 'startTime',
                                    index : 'startTime',
                                    align : "center",
                                    width : "90px",
                                    minWidth : "90px",
                                    formatter : cellbreaker
                                },
                                {
                                    name : 'endTime',
                                    index : 'endTime',
                                    align : "center",
                                    width : "90px",
                                    minWidth : "90px",
                                    formatter : cellbreaker
                                },
                                {
                                    name : 'operator',
                                    index : 'operator',
                                    align : "center",
                                    width : "60px",
                                    formatter: cellbreaker
                                },
                                {
                                    name : 'status',
                                    index : 'status',
                                    align : "center",
                                    width : "80px",
                                    formatter : "select",
                                    editoptions : {
                                        value : "0:新建;1:等待发布;2:已发布;3:过期"
                                    }
                                },
                                {
                                    name : 'rolloutStage',
                                    index : 'rolloutStage',
                                    align : "center",
                                    width : "80px",
                                    minWidth : "75px",
                                    formatter : "select",
                                    editoptions : {
                                        value : "0:不生效;1:Publish;2:线上;3:都生效"
                                    }
                                },
                                {
                                    name : 'lastPublish',
                                    align : "center",
                                    width : "120px",
                                    formatter : function(cellval, opts,
                                                         rowObject, action) {
                                        return rowObject['publishOperator']
                                                + "\n"
                                                + rowObject['publishTime'];
                                    }
                                }
                            ],
                            rowNum : 15,
                            rowList : [ 15, 30, 50],
                            pager : '#pager',
                            height : 'auto',
                            multiselect : true,
                            viewrecords : true,
                            rownumbers: true,
                            sortorder : "desc",
                            mtype : "POST",
                            deleteKeys : [ "id" ],
                            width : "85%",
                            shrinkToFit : true,
                            autowidth : true,
//			caption : "政策列表",
                            editurl : "add",
                            gridComplete : function() {
                                //set online publish effect ,the row backgroud-color is green
                                var onlineRows = $("#list tr td[aria-describedby=list_status][title='已发布']");
                                $.each(onlineRows, function(i, item){
                                    var startTime = $(item).parent().find("[aria-describedby=list_startTime] div").html();
                                    if(isRuleEffect(startTime)){
                                        $(item).parent().addClass('onlinestatus');
                                    }
                                });

                                if($("#showOverdue").attr("checked") == "checked"){
                                    var overdueRows = $("#list tr td[aria-describedby=list_status][title='过期']");
                                    overdueRows.parent().addClass('overduestatus');
                                }

                                initAuth();
                            }
                        });

        $("#list").jqGrid('navGrid', '#pager', {
            edit : false,
            add : false,
            del : false
        });
        $("#list").jqGrid('setGridParam', {
            datatype : 'json'
        });

        $("input:checkbox").click(function() {
            var checked = $(this).attr("checked");
            if (checked || checked == "checked") {
                $(this).attr("checked", false);
            } else
                $(this).attr("checked", true);
        });

        $("#search_btn").click(function() {
            mainQueryCheckBox();
            $('#list').query('search_form');
        });

        $("#search_btn").click();

        $("#time_select a").click(function() {
            var value = $(this).attr("value");
            switch (parseInt(value)) {
                case 1:
                    var day = getDateStr(0, '/');
                    $("#startTime").val(day);
                    break;
                case 2:
                    var day = getDateStr(1, '/');
                    $("#startTime").val(day);
                    break;
                case 3:
                    var day = getDateStr(2, '/');
                    $("#startTime").val(day);
                    break;
                case 4:
                    var startDay = getDateStr(1, '/');
                    var endDay = getDateStr(7, '/');
                    $("#startTime").val(startDay);
                    $("#endTime").val(endDay);
                    break;
                case 5:
                    $("#startTime").val("");
                    $("#endTime").val("");
                    break;
            }
        });

        $("#showOverdue").click(function (){
            $("#search_btn").click();
        });
    });

    function isRuleEffect(startTime){
        var year = startTime.split(" ")[0].split("-")[0];
        var month = startTime.split(" ")[0].split("-")[1];
        var day = startTime.split(" ")[0].split("-")[2];

        var hour = startTime.split(" ")[1].split(":")[0];
        var minu = startTime.split(" ")[1].split(":")[1];
        var sec = startTime.split(" ")[1].split(":")[2];

        return new Date(year, month - 1, day, hour, minu, sec) < new Date();
    }

    function checkAll(id, obj) {
        var itemlist = $("#" + id + " :checkbox");
        if (obj.checked) {
            for (var i = 0; i < itemlist.length; i++) {
                itemlist[i].checked = true;
            }
        } else {
            for (var i = 0; i < itemlist.length; i++) {
                itemlist[i].checked = false;
            }
        }
    }

    function mainQueryCheckBox() {
        $("input[type=hidden][name=booth]").val(getCheckBoxValue('booths'));
    }

    function modifyDraftPolicy(id) {
        $.unionTab.addRootTab({url:'$ctx/policy/modifyDraftPolicy?id='+id,title:'编辑政策['+id+']'})
    }

    function policyInfo(id,draftId) {
        $.unionTab.addRootTab({url:'$ctx/policy/policyInfo?id='+id,title:'政策详情['+draftId+']'})
    }

    function batchPublish() {
        //gets selected item
        var selectedIds = $("#list").jqGrid("getGridParam", "selarrrow");
        if (!selectedIds || selectedIds.length == 0) {
            showError('当前没有选择！');
            return;
        }

        $.post("$ctx/policy/publish", {
            rids : selectedIds.join(",")
        }, function(res) {
            if (res.success) {
                $("#list").trigger('reloadGrid');
                waitPublishNum();
                showInfo('批量发布成功');
            } else {
                showError('数据发生异常:' + result.message);
            }
        }, "json");
    }

    function buildResults(str,optionsArr){
        var strArr = str.split(',');
        var result = "";
        for(var i = 0;i<strArr.length;i++){
            result+=optionsArr[strArr[i]]+"\n";
        }
        return result.substring(0,result.length-1);
    }

    $(window).bind('resize', function() {
        $("#list").setGridWidth($(window).width()-10);
    }).trigger('resize');

    function exportExl() {
        if(confirm('确定导出EXCEL？')){

            var selectedIds = $("#list").jqGrid("getGridParam", "selarrrow");
            if(!selectedIds || selectedIds.length ==0)
            {
                showError('当前没有选择！');
                return;
            }
            $("#search_form").attr('action', '$ctx/policy/exportInMain?ids='+selectedIds.join(",")).attr(
                    'method', 'post').submit();
        }
    }
</script>

</body>
</html>