#parse( "./include/variable.vm" )

<div class="nav-top">
    <div class="">
        <div class="nav-content">
            <form id="search_form" method="post">
                <table cellpadding="0" cellspacing="0" class="searchinfotable">
                    <tr>
                        <td class="text-right" width="150">储值卡号：</td>
                        <td width="200"><input type="text" class="form-control"></td>
                        <td class="text-right" width="150">会员ID：</td>
                        <td width="200"><input type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td class="text-right" width="150">开始时间：</td>
                        <td width="200">
                            <input type="text" class="form-control" placeholder="yyyy-MM-dd HH:mm:ss" name="startTime" id="startTime" before="endTime" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',maxDate:'#F{$dp.$D(\'endTime\')}'})" style="width: 160px;" readonly/>
                        </td>
                        <td class="text-right" width="150">结束时间：</td>
                        <td width="200">
                            <input type="text" class="form-control" placeholder="yyyy-MM-dd HH:mm:ss" id="endTime" name="endTime" after="startTime"  onFocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'#F{$dp.$D(\'startTime\')}'})" style="width: 160px;" readonly/>
                        </td>
                    </tr>
                    <tr>
                        <td width="150"></td>
                        <td class="searchtd">
                            <button type="button" id="search_btn" class="btn btn-search"><i class="icon-search align-top bigger-125"></i>搜索</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
<div class="table-jqgrid">
    <!--这里放jqgrid-->
    <table id="list" style="width: 95%;" form="search_form"></table>
    <div id="pager"></div>
</div>

<script>
    $(function () {
        $("#startTime").datetimepicker({
            format: "dd MM yyyy - hh:ii"
        });
        setTimeout(function () {
            var topWin = window.top.document;
            var bodyclass = $(topWin).find("body").attr("class");
            //if(bodyclass){
            $('body').attr("class", bodyclass);
            //}
        }, 0);
        fixBtns();
        $("#list")
                .jqGrid(
                        {
                            url: '$ctx/valuecard/getAllCards',
                            datatype: "local",
                            colNames: ["id", "储值卡编号", "会员ID", "创建时间", "最后修改时间", "余额", "查看流水"],
                            colModel: [
                                {
                                    name: 'id',
                                    index: 'draftId',
                                    align: "center",
                                    width: "45px",
                                    key: true
                                }, {
                                    name: 'cardId',
                                    index: 'cardId',
                                    align: "center",
                                    width: "50px",
                                    minWidth: "45px",

                                },
                                {
                                    name: 'vipId',
                                    index: 'vipId',
                                    align: "center",
                                    width: "45px",
                                },
                                {
                                    name: 'createTime',
                                    index: 'createTime',
                                    align: "center",
                                    width: "140px",
                                    minWidth: "90px",
                                },
                                {
                                    name: 'modifiedTime',
                                    index: 'modifiedTime',
                                    align: "center",
                                    width: "140px",
                                    minWidth: "90px",
                                },
                                {
                                    name: 'balance',
                                    index: 'balance',
                                    align: "center",
                                    width: "140px",
                                    minWidth: "90px",
                                },
                                {
                                    name: 'checkHistory',
                                    index: 'checkHistory',
                                    align: "center",
                                    width: "140px",
                                    minWidth: "90px",
                                    formatter : function(cellval, opts,
                                                         rowObject, action) {
                                        var cardId = rowObject['cardId'];
                                        return '<a href="javascript:getHistoryByCardId('
                                        + cardId
                                        + ')" class="row_btn">查看</a>';
                                    }
                                }
                            ],
                            rowNum: 15,
                            rowList: [15, 30, 50],
                            pager: '#pager',
                            height: 'auto',
                            multiselect: true,
                            viewrecords: true,
                            rownumbers: true,
                            sortorder: "desc",
                            mtype: "POST",
                            deleteKeys: ["id"],
                            width: "85%",
                            shrinkToFit: true,
                            autowidth: true,
                            editurl: "add",
                            gridComplete: function () {
                                var onlineRows = $("#list tr td[aria-describedby=list_status][title='已发布']");
                                $.each(onlineRows, function (i, item) {
                                    var startTime = $(item).parent().find("[aria-describedby=list_startTime] div").html();
                                    if (isRuleEffect(startTime)) {
                                        $(item).parent().addClass('onlinestatus');
                                    }
                                });

                                if ($("#showOverdue").attr("checked") == "checked") {
                                    var overdueRows = $("#list tr td[aria-describedby=list_status][title='过期']");
                                    overdueRows.parent().addClass('overduestatus');
                                }

                            }
                        });

        $("#list").jqGrid('navGrid', '#pager', {
            edit: false,
            add: false,
            del: false
        });
        $("#list").jqGrid('setGridParam', {
            datatype: 'json'
        });

        $("input:checkbox").click(function () {
            var checked = $(this).attr("checked");
            if (checked || checked == "checked") {
                $(this).attr("checked", false);
            } else
                $(this).attr("checked", true);
        });

        $("#search_btn").click(function () {
            $('#list').query('search_form');
        });

        $("#search_btn").click();

        $("#time_select a").click(function () {
            var value = $(this).attr("value");
            switch (parseInt(value)) {
                case 1:
                    var day = getDateStr(0, '/');
                    $("#startTime").val(day);
                    break;
                case 2:
                    var day = getDateStr(1, '/');
                    $("#startTime").val(day);
                    break;
                case 3:
                    var day = getDateStr(2, '/');
                    $("#startTime").val(day);
                    break;
                case 4:
                    var startDay = getDateStr(1, '/');
                    var endDay = getDateStr(7, '/');
                    $("#startTime").val(startDay);
                    $("#endTime").val(endDay);
                    break;
                case 5:
                    $("#startTime").val("");
                    $("#endTime").val("");
                    break;
            }
        });

        $("#showOverdue").click(function () {
            $("#search_btn").click();
        });
    });

    $(window).bind('resize', function() {
        $("#list").setGridWidth($(window).width()-10);
    }).trigger('resize');

    function getHistoryByCardId(cardId){
        var url = '$ctx/valuecard/getCardHistoryByCardId?cardId='+cardId;
        //TODO:cj,这里需要一个弹出层展现所有的历史记录
    }
</script>

</body>
</html>
