#parse( "./include/variable.vm" )
<div class="nav-top">
    <div class="">
        <div class="nav-content">
            <form id="promotionAdd" action="$ctx/login" method="post">
                <div class="login">
                    <label>登录名</label><input type="text" name="loginName" class="form-control">
                    <br>
                    <label>密码</label><input type="password" name="password" class="form-control">
                    <br>
                </div>
                <button type="submit" id="promotionSubmitBtn" name="submit"  style="margin-left: 90px;margin-top: 15px;" class="btn btn-sm">登录</button>
            </form>
        </div>
    </div>
</div>
