#set( $ctx = $request.getContextPath() )

#set( $jsPath = $request.getContextPath()+"/static/js" )
#set( $resPath = $request.getContextPath()+"/static" )
#set( $refPath = $request.getHeader("REFERER") )

