#parse( "./include/variable.vm" )
<div class="nav-top">
    <div class="">
        <div class="nav-content">
            <div class="table-jqgrid">
                <!--这里放jqgrid-->
                <table id="list" style="width: 95%;" form="search_form"></table>
                <div id="pager"></div>
            </div>
        </div>
    </div>
</div>
<script src="$jsPath/valuecard.js" type="text/javascript"></script>
<script>
    $(function () {
        setTimeout(function () {
            var topWin = window.top.document;
            var bodyclass = $(topWin).find("body").attr("class");
            //if(bodyclass){
            $('body').attr("class", bodyclass);
            //}
        }, 0);
        fixBtns();
        $("#list")
                .jqGrid(
                {
                    url: '$ctx/index/tableList',
                    datatype: "local",
                    colNames: ["餐桌编号", "就餐人数","就餐时间", "点菜(功能暂未开放)", "结账", "下一位"],
                    colModel: [
                        {
                            name: 'tableCode',
                            index: 'tableCode',
                            align: "center",
                            width: "45px",
//                            key: true
                        }, {
                            name: 'peopleCount',
                            index: 'peopleCount',
                            align: "center",
                            width: "50px",
                            minWidth: "45px",
                        },
                        {
                            name: 'createTime',
                            index: 'createTime',
                            align: "center",
                            width: "45px",
                        },
                        {
                            name: 'order',
                            index: 'order',
                            align: "center",
                            width: "60px",
                            formatter : function(cellval, optss,
                                                 rowObject, action) {
                                return '点菜<br>删菜<br>查看'
//                                return '<a href="javascript:orderDash()" class="row_btn">点菜</a><br>'
//                                        +'<a href="javascript:deleteDash('+rowObject['tableCode']+')" class="row_btn">删菜</a><br>'
//                                        +'<a href="javascript:checkOrder('+rowObject['tableCode']+')" class="row_btn">查看</a>';
                            }
                        },
                        {
                            name: 'checkOut',
                            index: 'checkOut',
                            align: "center",
                            width: "60px",
                            formatter : function(cellval, optss,
                                                 rowObject, action) {
                                var result = '<a href="javascript:checkOut(\''
                                        + rowObject['tableCode']
                                        + '\')" class="row_btn">结账</a>';
                                var count = rowObject['peopleCount']
                                return (count <= 0) ? '<a href="javascript:takeSeat(\''
                                        + rowObject['tableCode']
                                        + '\')" class="row_btn">就座</a><br>'
                                        + result : result
                            }
                        },
                        {
                            name: 'nextOne',
                            index: 'nextOne',
                            align: "center",
                            width: "60px",
                            formatter : function(cellval, optss,
                                                 rowObject, action) {
                                var count = rowObject['peopleCount'];
                                var tableCode = rowObject['tableCode'];
                                return (count <= 0) ? '<button type="button" id="queueUpBtn" onclick="nextCustomerOne(\''+tableCode+'\')"><i class="icon-search align-top bigger-125"></i>下一位</button>' : '下一位';
                            }
                        }
                    ],
//                    rowNum: 15,
//                    rowList: [15, 30, 50],
                    pager: '#pager',
                    height: 'auto',
                    multiselect: true,
                    viewrecords: true,
                    sortorder: "desc",
                    mtype: "POST",
                    deleteKeys: ["id"],
                    width: "85%",
                    shrinkToFit: true,
                    autowidth: true,
//			caption : "政策列表",
                    editurl: "add",
                    gridComplete: function () {
                        //set online publish effect ,the row backgroud-color is green
                        var onlineRows = $("#list tr td[aria-describedby=list_status][title='已发布']");
                        $.each(onlineRows, function (i, item) {
                            var startTime = $(item).parent().find("[aria-describedby=list_startTime] div").html();
                            if (isRuleEffect(startTime)) {
                                $(item).parent().addClass('onlinestatus');
                            }
                        });

                        if ($("#showOverdue").attr("checked") == "checked") {
                            var overdueRows = $("#list tr td[aria-describedby=list_status][title='过期']");
                            overdueRows.parent().addClass('overduestatus');
                        }

                    }
                });

        $("#list").jqGrid('navGrid', '#pager', {
            edit: false,
            add: false,
            del: false
        });
        $("#list").jqGrid('setGridParam', {
            datatype: 'json'
        });

        $("#list").trigger('reloadGrid');

        $("input:checkbox").click(function () {
            var checked = $(this).attr("checked");
            if (checked || checked == "checked") {
                $(this).attr("checked", false);
            } else
                $(this).attr("checked", true);
        });

        $("#time_select a").click(function () {
            var value = $(this).attr("value");
            switch (parseInt(value)) {
                case 1:
                    var day = getDateStr(0, '/');
                    $("#startTime").val(day);
                    break;
                case 2:
                    var day = getDateStr(1, '/');
                    $("#startTime").val(day);
                    break;
                case 3:
                    var day = getDateStr(2, '/');
                    $("#startTime").val(day);
                    break;
                case 4:
                    var startDay = getDateStr(1, '/');
                    var endDay = getDateStr(7, '/');
                    $("#startTime").val(startDay);
                    $("#endTime").val(endDay);
                    break;
                case 5:
                    $("#startTime").val("");
                    $("#endTime").val("");
                    break;
            }
        });

        $("#showOverdue").click(function () {
            $("#search_btn").click();
        });

        if($('#payType:checked').val() == 0){
            $(".PayByOtherWay").hide();
            $(".PayByCard").show();
        }
    });


    $(window).bind('resize', function() {
        $("#list").setGridWidth($(window).width()-10);
    }).trigger('resize');

    //点菜
    function orderDash(){

    }

    //查看已点菜单
    function checkOrder(tableCode){

    }

    //删除部分菜品
    function deleteDash(tableCode){

    }

    //就坐
    function takeSeat(tableCode){
        var message = '<form><label>入座人数:</label><input type="text" class="form-control" placeholder="入座人数" name="countOfPeople"></form>';
        var title = " 入座"
        BootstrapDialog.confirm(title,message, function(){
            $.post("$ctx/index/takeSeat", {
                tableCode: tableCode,
                count: $("input[name='countOfPeople']").val(),
                isQueueUp : 0
            }, function (res) {
                if(res['success'] == "success"){
                    showInfo("成功");
                    $("#list").trigger('reloadGrid');
                    return
                }
            }, "json");
        });
    }

    //生成订单
    function createOrder(tableCode){
//        我不知道内容
        var message = '<form id="createOrder"><label>菜品消费金额:</label><input type="text" class="form-control" name="foodPrice"><br><label>酒水消费金额:</label><input type="text" class="form-control" name="drinkPrice"></form>';
        var title = " 生成订单"
        BootstrapDialog.confirm(title,message, function(){
            $.post("$ctx/index/createOrder", {
                    tableCode: tableCode,
                    foodPrice: $("input[name='foodPrice']").val(),
                    drinkPrice: $("input[name='drinkPrice']").val()
            }, function (res) {
                    if(res['success'] == "success"){
                        showInfo("生成订单成功");
                        $("#list").trigger('reloadGrid');
                        return
                    }
                }, "json");
            }
        );
    }

    //结账
    function checkOut(tableCode){
        var message = '<form id="checkOut" method="post">'
                +'<div class="turnToAdd">'
        +'<label>桌号</label><input type="text" name="tableCode" id="tableCode" value="'+tableCode+'" class="form-control" readonly>'
        +'<br>'
        +'<label>菜品消费金额</label><input type="text" name="foodPrice" id="foodPrice" class="form-control">'
        +'<br>'
        +'<label>酒水消费金额</label><input type="text" name="drinkPrice" id="drinkPrice" class="form-control">'
        +'<br>'
        +'<label>其他消费金额</label><input type="text" name="otherPrice" id="otherPrice" class="form-control">'
        +'<br>'
        +'<label>支付类型</label>'
        +'<input type="radio" id="payType" name="payType" value="0" checked="checked" onclick="payTypeDefail();"><span>储值卡</span>&nbsp;&nbsp;&nbsp;&nbsp;'
        +'<input type="radio" id="payType" name="payType" value="1" onclick="payTypeDefail();"><span>现金</span>&nbsp;&nbsp;&nbsp;&nbsp;'
        +'<input type="radio" id="payType" name="payType" value="2" onclick="payTypeDefail();"><span>支付宝</span>&nbsp;&nbsp;&nbsp;&nbsp;'
        +'<input type="radio" id="payType" name="payType" value="3" onclick="payTypeDefail();"><span>微信</span>&nbsp;&nbsp;&nbsp;&nbsp;'
        +'<input type="radio" id="payType" name="payType" value="4" onclick="payTypeDefail();"><span>团购优惠支付</span>&nbsp;&nbsp;&nbsp;&nbsp;'
        +'<br>'
        +'<div class="PayByCard">'
        +'<label></label><span style="line-height: 32px;">请将储值卡放在读卡器后,点击&nbsp;&nbsp;&nbsp;</span>'
        +'<input style="margin-top: 0;" type="button" class="btn btn-sm" name="verifyCard" onclick="getCardInfoFromCard()" value="检测卡片"><br>'
        +'<label>卡号</label><input type="text" id="cardId" name="cardId" readonly/>'
        +'<input type="text" id="cardUuid" name="cardUuid" hidden="hidden" readonly/>'
        +'</div>'
        +'<div class="PayByOtherWay" hidden="hidden">'
        +'实收金额:<input type="text" id="received" class="form-control" name="received" />'
        +'</div>'
        +'</div>'
        +'</form>';
        var title = "结账"
        BootstrapDialog.confirm(title,message, function() {
            $.ajax({
                url: '$ctx/index/checkOut',
                type: 'post',
                data: {
                    tableCode: $("input[name='tableCode']").val(),
                    foodPrice: $("input[name='foodPrice']").val(),
                    drinkPrice: $("input[name='drinkPrice']").val(),
                    otherPrice: $("input[name='otherPrice']").val(),
                    payType: $('#payType:checked').val(),
                    cardId: $("input[name='cardId']").val(),
                    cardUuid: $("input[name='cardUuid']").val(),
                    phone: $("input[name='phone']").val(),
                    password: $("input[name='password']").val(),
                    receive: $("input[name='received']").val()
                },
                dataType: 'json',
                success: function (data) {
                    var payType = $('#payType:checked').val();
                    if(data['success'] == "false"){
                        $("#priceresult7").html("支付失败,请重试");
                    }else {
                        if(payType == 0){
                            showInfo(data['card']['balance'])
                            //打印返回的储值卡信息
                        }else if(payType == 1){
                            //需要找回的现金
                        }else{

                        }
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    showError(XMLHttpRequest.responseText);
                }
            });
        });
        $("#list").trigger('reloadGrid');
    }


    function getQueueAjax(tableCode) {
        $.ajax({
            url: '$ctx/index/nextOne',
            type: 'post',
            data: {
                tableCode: tableCode
            },
            dataType: 'json',
            success: function (data) {
                if(data['success'] == "false"){
                    $("#priceresult7").html("当前没有排队的人!");
                }else {
                    $("#priceresult7").html('编号:' + data['result']['lineCode'] + ",电话:" + data['result']['phone']);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $("#priceresult7").html(XMLHttpRequest.responseText);
            }
        });
    }

    function getQueueSync(tableCode){
        var result;
        $.ajax({
            url: '$ctx/index/nextOne',
            type: 'post',
            data: {
                tableCode: tableCode
            },
            async: false,
            dataType: 'json',
            success: function (data) {
                result = data;
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                result = XMLHttpRequest.responseText;
            }
        });
        return result;
    }

    //下一位∂
    function nextCustomerOne(tableCode){
        var res = getQueueSync(tableCode);
        if(res['success'] == "false"){
            showInfo("当前没有排队的人!");
            return
        }else{
            var message = '<h1>获取被限购的身份证数据</h1>'
                    +'<div class="nav-content">'
                    +'<form id="form7" method="post">'
                    +'<table cellpadding="0" cellspacing="0">'
                    +'<tr>'
                    +'<td>'
                    +'<input type="text" name="tableCode" value="\''+tableCode+'\'">'
                    +'</td>'
                    +'<td>'
                    +'<input type="button" onclick="getQueueAjax(\''+tableCode+'\')" id="getLimitedIdentity" class="btn btn-success" value="提交" style="padding: 4px 62px; margin-left: 5px;" />'
                    +'</td>'
                    +'</tr>'
                    +'</tr>'
                    +'</table>'
                    +'</form>'
                    +'</div>'
                    +'<h1>返回结果</h1>'
                    +'<div id="priceresult7" class="nav-content">'+'编号:' + res['result']['lineCode'] + ",电话:" + res['result']['phone']+'</div>';
            var title = "下一位"
            BootstrapDialog.confirm(title,message, function() {
                $.post("$ctx/index/takeSeat", {
                    tableCode: tableCode,
                    count: res['result']['waitingNumber'],
                    isQueueUp : 1
                }, function (res) {
                    if(res['success'] == "success"){
                        showInfo("成功");
                        $("#list").trigger('reloadGrid');
                        return
                    }
                }, "json");
            });
        }
    }

    $(function(){
        if($('#payType:checked').val() == 0){
            $(".PayByOtherWay").hide();
            $(".PayByCard").show();
        }
    })

    function payTypeDefail(){
        if($('#payType:checked').val() == 0){
            $(".PayByOtherWay").hide();
            $(".PayByCard").show();
        }else if($('#payType:checked').val() == 1){
            $(".PayByOtherWay").show();
            $(".PayByCard").hide();
        }else{
            $(".PayByOtherWay").hide();
            $(".PayByCard").hide();
        }
    }
</script>
