#parse( "./include/variable.vm" )

<div id="add" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">
                    <i class="icon-pencil"></i>
                    <span id="lblAddTitle" style="font-weight:bold">添加信息</span>
                </h4>
            </div>
            <form class="form-horizontal form-bordered form-row-strippe" id="ffAdd" data-toggle="validator" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="row">
                        <div id="myPrintArea">
                            <div class="content">
                                <img src="$ctx/static/images/qrcode/qrcode.png" class="img-thumbnail"><br>
                                <label>排队编号:</label><span><div id="lineCode"></div></span><br>
                                <label>你前面排队的桌数:</label><span><div id="frontCount"></div></span><br>
                                <label>到店时间:</label><span><div id="datetime"></div></span><br>
                                <label>店铺名称:</label><span><div id="storeName"></div></span><br>
                                <label>店铺电话:</label><span><div id="storePhone"></div></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer bg-info">
                    <input type="hidden" id="ID" name="ID" />
                    <button type="button" class="btn blue" data-dismiss="modal" onclick="print()">打印</button>
                    <button type="button" class="btn green" data-dismiss="modal">取消</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="nav-top">
    <div class="">
        <div class="nav-content">
            <form id="queue_up">
                <div id="queue_up_add" class="queue_up">
                    <label>电话:</label><input id="phoneNumber" name="phoneNumber" class="form-control" type="text">
                    <label>就餐人数:</label><input id="countOfPeople" name="countOfPeople" class="form-control" type="text">
                    <br>
                    <label></label><input type="button" class="btn btn-sm" id="queueUpBtn" onclick="queueUp()" value="添加">
                </div>
            </form>
            </div>
            <div class="nav-content">
            <form id="search_form" method="post">
                <div class="queue_up">
                    <label></label><select name="tableSize" class="form-control">
                        <option value="4" selected="selected">小桌</option>
                        <option value="8">大桌</option>
                    </select>
                    <br>
                    <label></label><input type="button" id="search_btn" class="btn btn-sm" value="搜索">
                </div>
            </form>
        </div>
    </div>
</div>
<div class="table-jqgrid">
    <!--这里放jqgrid-->
    <table id="list" style="width: 95%;" form="search_form"></table>
    <div id="pager"></div>
</div>

<script>
    $(document).ready(function(){
        $("input#priceButton").click(function(){

            $("div#myPrintArea").printArea();

        });
    });
    $(function () {
        setTimeout(function () {
            var topWin = window.top.document;
            var bodyclass = $(topWin).find("body").attr("class");
            //if(bodyclass){
            $('body').attr("class", bodyclass);
            //}
        }, 0);
        fixBtns();
        $("#list")
                .jqGrid(
                {
                    url: '$ctx/index/queue',  //?请求地址
                    datatype: "local",
                    colNames: ["牌号", "大小桌", "就餐人数", "联系电话", "到店时间", "操作"],
                    colModel: [
                        {
                            name: 'lineCode',
                            index: 'lineCode',
                            align: "center",
                            width: "45px",
                            key: true
                        }, {
                            name: 'tableSize',
                            index: 'tableSize',
                            align: "center",
                            width: "50px",
                            minWidth: "45px",
                            formatter : function(cellval, optss,
                                                 rowObject, action) {
                                var tableSize = rowObject['waitingNumber'];
                                return tableSize > 4 ? "大桌" : "小桌";
                            }
                        },
                        {
                            name: 'waitingNumber',
                            index: 'waitingNumber',
                            align: "center",
                            width: "45px",
                        },
                        {
                            name: 'phone',
                            index: 'phone',
                            align: "center",
                            width: "140px",
                            minWidth: "90px",
                        },
                        {
                            name: 'datetime',
                            index: 'datetime',
                            align: "center",
                            width: "100px",
                        },
                        {
                            name: 'operate',
                            index: 'operate',
                            align: "center",
                            width: "140px",
                            minWidth: "90px",
                            formatter : function(cellval, optss,
                                                 rowObject, action) {
                                return "操作";
                            }
                        }
                    ],
//                    rowNum: 15,
//                    rowList: [15, 30, 50],
                    pager: '#pager',
                    height: 'auto',
                    multiselect: true,
                    viewrecords: true,
//                    rownumbers: true,
                    sortorder: "desc",
                    mtype: "POST",
                    deleteKeys: ["id"],
                    width: "85%",
                    shrinkToFit: true,
                    autowidth: true,
//			caption : "政策列表",
                    editurl: "add",
                    gridComplete: function () {
                        //set online publish effect ,the row backgroud-color is green
                        var onlineRows = $("#list tr td[aria-describedby=list_status][title='已发布']");
                        $.each(onlineRows, function (i, item) {
                            var startTime = $(item).parent().find("[aria-describedby=list_startTime] div").html();
                            if (isRuleEffect(startTime)) {
                                $(item).parent().addClass('onlinestatus');
                            }
                        });

                        if ($("#showOverdue").attr("checked") == "checked") {
                            var overdueRows = $("#list tr td[aria-describedby=list_status][title='过期']");
                            overdueRows.parent().addClass('overduestatus');
                        }

                    }
                });

        $("#list").jqGrid('navGrid', '#pager', {
            edit: false,
            add: false,
            del: false
        });
        $("#list").jqGrid('setGridParam', {
            datatype: 'json'
        });

        $("input:checkbox").click(function () {
            var checked = $(this).attr("checked");
            if (checked || checked == "checked") {
                $(this).attr("checked", false);
            } else
                $(this).attr("checked", true);
        });

        $("#search_btn").click(function () {
            $('#list').query('search_form');
        });

        $("#search_btn").click();

        $("#time_select a").click(function () {
            var value = $(this).attr("value");
            switch (parseInt(value)) {
                case 1:
                    var day = getDateStr(0, '/');
                    $("#startTime").val(day);
                    break;
                case 2:
                    var day = getDateStr(1, '/');
                    $("#startTime").val(day);
                    break;
                case 3:
                    var day = getDateStr(2, '/');
                    $("#startTime").val(day);
                    break;
                case 4:
                    var startDay = getDateStr(1, '/');
                    var endDay = getDateStr(7, '/');
                    $("#startTime").val(startDay);
                    $("#endTime").val(endDay);
                    break;
                case 5:
                    $("#startTime").val("");
                    $("#endTime").val("");
                    break;
            }
        });

        $("#showOverdue").click(function () {
            $("#search_btn").click();
        });
    });
    //开始时间不能小于当前时间
    function startTimeIsBigThanTotay(startTime){
        var startdate = new Date((startTime).replace(/-/g,"/"));
        var date = new Date();
        if(startdate < date)
        {
            return false;
        }
        else
        {
            return true;
        }
    }

    //结束时间不能小于当前时间
    function endThanTotay(endTime){
        var enddate = new Date((endTime).replace(/-/g,"/"));
        var nowdate = new Date();
        if(enddate < nowdate)
        {
            return false;
        }
        else
        {
            return true;
        }
    }


    //结束时间不能小于开始时间
    function endThanStart(startTime,endTime){
        var startdate = new Date((startTime).replace(/-/g,"/"));
        var enddate = new Date((endTime).replace(/-/g,"/"));
        if(enddate < startdate)
        {
            return false;
        }
        else
        {
            return true;
        }
    }



    function isRuleEffect(startTime){
        var year = startTime.split(" ")[0].split("-")[0];
        var month = startTime.split(" ")[0].split("-")[1];
        var day = startTime.split(" ")[0].split("-")[2];

        var hour = startTime.split(" ")[1].split(":")[0];
        var minu = startTime.split(" ")[1].split(":")[1];
        var sec = startTime.split(" ")[1].split(":")[2];

        return new Date(year, month - 1, day, hour, minu, sec) < new Date();
    }

    function checkAll(id, obj) {
        var itemlist = $("#" + id + " :checkbox");
        if (obj.checked) {
            for (var i = 0; i < itemlist.length; i++) {
                itemlist[i].checked = true;
            }
        } else {
            for (var i = 0; i < itemlist.length; i++) {
                itemlist[i].checked = false;
            }
        }
    }

    function fixBtns(){
        $(window).scroll(function(){
            var btncol = $('.btncol');
            var topvalue = $('.table-jqgrid').offset().top;

            var nowtop = $(window).scrollTop();

            if(nowtop>topvalue && !btncol.hasClass('fixedbtn')){
                btncol.addClass('fixedbtn');
            }
            if(nowtop<topvalue && btncol.hasClass('fixedbtn')){
                btncol.removeClass('fixedbtn');
            }
        });
    }

    function buildResults(str,optionsArr){
        var strArr = str.split(',');
        var result = "";
        for(var i = 0;i<strArr.length;i++){
            result+=optionsArr[strArr[i]]+"\n";
        }
        return result.substring(0,result.length-1);
    }

    $(window).bind('resize', function() {
        $("#list").setGridWidth($(window).width()-10);
    }).trigger('resize');


    function queueUp(){
        var count = $("input[name=countOfPeople]").val();
        var phoneNumber = $("input[name=phoneNumber]").val();

        if(count == ''){
            showError('请输入就餐人数');
            return;
        }

        $.post("$ctx/index/queueUp", {
            countOfPeople: count,
            phoneNumber: phoneNumber
        }, function (res) {
            $('#lineCode').html(res['lineCode']);
            $('#frontCount').html(res['frontCount']);
            $('#datetime').html(res['datetime']);
            $('#storeName').html(res['storeName']);
            $('#storePhone').html(res['storePhone']);
            //打印
            $('#add').modal({ show: true, backdrop: 'static' });
            $("#list").trigger('reloadGrid');
        });
    }

    function print(){
        $("div#myPrintArea").printArea();
    }

</script>

</body>
</html>
